type camera_socket, file_type, core_data_file_type, data_file_type;
type debugfs_wlan, debugfs_type, fs_type;
type debugfs_rmt, debugfs_type, fs_type;
type rild_file, file_type, vendor_file_type;
type touch_sysfs, fs_type, sysfs_type;
type proc_touchpanel, proc_type, sysfs_type, fs_type;
# FPS Info
type sysfs_fps, sysfs_type, fs_type;
# XiaomiParts
type kcal_dev, sysfs_type, fs_type;
type sysfs_headgain, sysfs_type, fs_type;
type sysfs_micgain, sysfs_type, fs_type;
type sysfs_backlightdim, sysfs_type, fs_type;
type sysfs_fpsinfo, sysfs_type, fs_type;
type sysfs_torch, sysfs_type, fs_type;
