allow init sysfs_devices_system_cpu:dir r_dir_perms;
allow init sysfs_leds:lnk_file read;
# Allow init to chown/chmod on pseudo files in /sys
allow init sysfs_type:file { setattr };
