allow platform_app qemu_hw_mainkeys_prop:file read;
allow platform_app sysfs_fps:file { getattr open read };
allow platform_app sysfs_graphics:dir search;
